<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="addStudent" method="post">
        {% csrf_token %}
        <input type="text" name="fullname" id="">
        <input type="text" name="course">
        <input type="number" name="year">
        <button type="submit">Submit</button>
    </form>
    {% for student in students %}
    <p>{{student.fullname}} {{student.course}} {{student.year}}</p>
    <a href="deleteStudent/{{student.id}}">Delete</a>
    <a href="renderUpdate/{{student.id}}">Update</a>
    {%endfor%}

</body>
</html>