<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        *{
            margin:0;
            padding:0;
        }
        body{
            background-color: aquamarine;
            display: flex;
            align-items: center;
            width: 100vw;
            height: 100vh;
            justify-content: center;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to my website</h1>
</body>

<script>
    async function fetchSomething() {
        const result = await fetch('http://192.168.109.71:8000/api/getInformation')
        const response = await result.json();
        console.log(response)
    }
</script>
</html>